



nav{
  background: #2c3e50;
}



nav .navbar-brand{
  color: #fff;
}

.collapse .nav-item{
  margin-right: 16px;
}
.collapse .nav-item .nav-link{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding-inline: 10px;
  margin-top: 12px;
}

.collapse .nav-item .nav-link.active{
  background: #1abc9c;
  color: #fff;
  border-radius: 10px;
  width: fit-content;
}



@media (min-width:991px){
  .collapse .nav-item .nav-link{
  margin-top: 0px;
  
}
}